/* Estilo para El contenedor de la barra de navegación */
.navbar{         
    background: rgb(10, 34, 64);      
    border: 0px;
    
}

/* Estilos para el titulo de la navbar */
.navbar-default .navbar-text{    
    color: white;
    font-size: 1.9em;
}

/* Estilo cuando pasa el ratón por el titulo del sitio  */
.navbar-text:hover{
    color: gray;
}

/* Estilos para los elementos del Menu*/
.navbar-default .navbar-nav>li>a{
    color: white;
    margin-top: 10px;
}

/* Estilo cuando pasa el ratón por las opciones del menu */
.navbar-default .navbar-nav>li>a:hover{
    color: gray;
    margin-top: 10px;
}

/* Estilo cuando presionan el botón de Menu en dipositivos pequeños */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #335c7099;
}

/* Estilo para el contenedor (CUANDO DESPLIEGA NAVEGACIÓN EN DISPOSITIVOS PEQUEÑOS)*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {    
    border-color: rgba(10, 34, 64, 0.7);
}

/* Estilo para el botón */
.navbar-default .navbar-toggle{
    margin-left: 12.4%;
}

/* Estilo para el Logo de la nav */
a img{
    width: 50px;
    margin: 5px;
}


