/* Estilo para el ScrollBar*/

body::-webkit-scrollbar{
    width: 7px; 
    background: rgba(0, 27, 122, 0.2);   
}

body::-webkit-scrollbar-thumb{
    background: rgba(0, 27, 122, 0.5);
    border-radius: 10px; 
}

body::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 27, 122, 0.9);
    border-radius: 10px; 
}

/* Estilo para quitar margenes a la Clase ROW */
.row{
    margin: 0px;    
}

                    /* Fin de los estilos para la ScrollBar */

                    /* Estilos para los Articulos */
/* Estilo para el contenedor del articulo */                    
.articulo{    
    margin-top: 15px;
}

/* Estilo para el contenido del Articulo */
.contenido-articulo{        
    padding: 7px;
    margin-top: 15px;
}

/* Estilo para el contenedor de la IMAGEN DEL ARTICULO */  
.contenedor-img-articulo{
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Estilo para el separador en los titulos de ARTICULO*/
hr.separador-articulo{
    background: #707070;
    opacity: 0.27;
    height: 2px;;
    margin-left: 10px;
    margin-top: 4.5px;
    margin-bottom: 4.5px;    
}

/* Estilo de titulos Principales */
.titles-section{    
    font-family: 'Verdana', 'Segoe UI', 'Tahoma', 'Geneva', 'sans-serif';
    color: white; 
    background: rgb(0, 61, 85);    
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 7px;    
    text-align: center;
    box-shadow: 5px 7px 6px black;
    border-radius: 10px;
}

/* Estilo de titulos para ARTICULOS*/
.title-article{
    font-family: 'Verdana', 'Segoe UI', 'Tahoma', 'Geneva', 'sans-serif';
    color: black;    
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Estilo para fechas de Articulos*/
.title-date{
    font-family: 'Verdana', 'Segoe UI', 'Tahoma', 'Geneva', 'sans-serif';
    color: black;  
    opacity: 0.48;      
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

/* Estilos para los TEXTOS de los ARTICULOS */ 
.texto-seccion{
    padding-left: 10px;
    font-size: 18px;
    text-align: justify;    
}

/* Estilo del contenedor del FORM */
form.container{
    padding-top: 20px;
}

/* Estilo para los enlaces de las redes sociales */
div.container-fluid p.desarrollador a{
    color: white;
}

/* Estilo al pasar el ratón por los enlaces de las redes sociales */
div.container-fluid p.desarrollador a:hover{
    color: gray;
}

/* Estilo para las tabs de requisitos */
.requisitos-tabs{
    padding-right: 15px;
    padding-left: 15px;    
}

/* Estilo para el contenido de las tabs */
.contenido-tabs{
    padding: 15px;
}

/* Estilo para el contenedor de la información*/
div.contenido-tabs div.pull-left{
    margin-top: 20px;
}

/* Estilo para la imagen que está en las tabs*/
div.contenido-tabs img{
       height: 100%;
}

/* Estilo para el botón de la sección de las tabs*/
#informacion{
    margin-top: 10px;
}

/*Estilo para los titulos de las tabs*/
.title-tab{
    text-align: center;
    font-size: 3em;
    color: rgb(1, 63, 80);    
}

/* Estilo para los subtitulos de las tabs */
.subtitle-tab{
    text-align: left;
    font-size: 1.5em;
    color: #00718F;
}

/* Estilos para los elementos de la lista en las tabs */
ul.requisitos-tab li{
    color: rgb(2, 138, 175);    
}

/*Estilo para los elemntos ul*/
ul.requisitos-tab{
    padding-left: 5px;
}

/*Estilo para los titulos de los uniformes */
.title-uniform{
    text-align: center;
    font-size: 2em;
    color: #00718F;
}

/* Estilo para el texto de los uniformes*/
.text-uniform li{
    color: rgb(2, 138, 175);    
}

                    /*Fin de los estilos para los ARTICULOS */
                    
                    /* Estilos para el ASIDE */
aside{

}
                    /*Fin de los Estilos para el ASIDE */


                    /* Estilos para el contenido del FOOTER */

footer{
    padding: 15px;
    background: rgb(10, 34, 64);
    margin-top: 20px;
    text-align: center;
}

footer p{
    color: white;
    font-size: 15px;
}

.footer-text{
    color: white;
}

                    /*Fin de los Estilos para el FOOTER */

.color1{
    background: yellowgreen;
}

.color2{    
    background: gray;    
}

.color3{
    background: gold;    
}

.color4{
    background: burlywood;
}

.color5{
    background: darkolivegreen;
}

.color6{
    background: azure;
}

.color7{
    background: teal;
}

.color8{
    background: navy;
}

.color9{
    background: cornflowerblue;
}